@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/toastr/toastr.scss";
$font-stack: Helvetica, sans-serif;
$primary-color: #000000;
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: transparent;
  padding-top: 50px;
}
hr {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
